extends ../layout

block content
  .container.p-5
    .row
      .col.text-center
        h2.display4 Clientes
        hr
    .row
      .col.mx-auto
        table#table_id
          thead
            tr
              th(width="120px") Nombre
              th(width="90px") DNI
              th EMAIL
              th(width="90px") Teléfono
              th(width="90px") Fecha Alta
              th(width="50px") Aprobado
              th Detalle
          tbody
            each c in clientes
              tr
                td
                  a(href="/admin/clientes/"+c.uuid) #{c.nombre}
                td #{c.dni}
                td #{c.email}
                td #{c.telefono}
                td #{moment(c.fechaAlta).format('DD/MM/YYYY HH:mm')}
                if (c.verificado)
                  td(class="bg-success text-center") Sí
                else
                  td(class="bg-warning text-center") No
                td
                  a(href="/admin/clientes/"+c.uuid) Editar


block datatable
  script(src="/javascripts/datatable.js")