extends layout

block content
  .container.p-5
    .row
      .col.mx-auto
        table#table_id
          thead
            tr
              th Fecha
              th Tipo
              th Descripcion
              th Prioridad
              th Estado
              th Detalles
          tbody
            each solicitud in solicitudes
              tr
                td: a(href='/solicitudes/'+solicitud.uuid) #{moment(solicitud.fechaAlta).format('DD/MM/YYYY HH:mm')}
                td=solicitud.tipo
                td=solicitud.descripcion
                if (solicitud.Historials.length)
                  td=solicitud.Historials[0].prioridad
                  td=solicitud.Historials[0].estado
                  td=solicitud.Historials[0].detalle