extends ../layout
block content
  .container.p-5
    .row
      .col.text-center
        h2.display4 #{area.nombre}
        hr
    .row
      .col.mx-auto
        table#table_id
          thead
            tr
              th(width="25px") VER
              th Mensaje
              th(width="90px") Fecha
              th(width="50px") Prioridad
              th Estado
              th Tipo
              th Vista
          tbody
            each n in notificaciones
              tr
                td
                  a(href="/calidad/notificaciones/"+n.id) IR 
                td #{n.mensaje}
                td #{moment(n.fecha).format('DD/MM/YYYY HH:mm')}
                td #{n.Solicitud.prioridad}
                td #{n.Solicitud.estado}
                td #{n.tipo}
                td=n.vista ? "Sí" : "No"

block datatable
  script(src="/javascripts/datatable.js")