extends ../layout
block content
  .container.p-5
    .row
      .col.text-center
        h2.display4 #{area.nombre}
        hr
    .row
      .col.mx-auto
        table#table_id
          thead
            tr
              th(width="30px") Solicitud 
              th Detalle
              th(width="50px") Prioridad
              th(width="90px") Fecha
              th(width="50px") Estado
              th(width="150px") Empleado
          tbody
            each s in solicitudes
              tr
                td
                  a(href="/empleado/solicitud/"+s.uuid) VER
                td #{s.Historials[0].detalle}
                td #{s.prioridad}
                td #{moment(s.Historials[0].fecha).format('DD/MM/YYYY HH:mm')}
                td #{s.estado}
                td 
                  if (s.Historials[0].EmpleadoId)
                    | #{s.Historials[0].Empleado.nombre+" "+s.Historials[0].Empleado.apellido}
                  else
                    |NO ATENDIDO

block datatable
  script(src="/javascripts/datatable.js")