extends ../layout
block content
  .container.p-5
    .row
      .col.text-center
        h2.display4 #{area.nombre}
        hr
    .row
      .col.mx-auto
        table#table_id
          thead
            tr
              th(width="90px") Fecha
              th Detalle
              th(width="50px") Prioridad
              th(width="50px") Estado
              th(width="150px") Empleado
              th(width="30px") VER
          tbody
            each s in solicitudes
              tr
                td #{moment(s.Historials[0].fecha).format('DD/MM/YYYY HH:mm')}
                td #{s.Historials[0].detalle}
                td #{s.prioridad}
                td #{s.estado}
                td 
                  if (s.Historials[0].EmpleadoId)
                    | #{s.Historials[0].Empleado.nombre+" "+s.Historials[0].Empleado.apellido}
                  else
                    | -
                td
                  if (s.estado == 'Pendiente')
                    a(href="/empleado/solicitud/"+s.uuid) IR
                  else
                    if (user.id == s.Historials[0].EmpleadoId)
                      a(href="/empleado/solicitud/"+s.uuid) IR
                    else
                      | -

block datatable
  script(src="/javascripts/datatable.js")