extends ../layout
block content
  .container.p-5
    .row
      .col
        h2.display4 Atención de Solicitud
          if (solicitud.estado == "Pendiente")
            a.btn.btn-sm.btn-outline-primary.float-right(href="/empleado/solicitud/"+solicitud.uuid+"/take") Tomar solicitud
          if (solicitud.estado == "En proceso")
            a.btn.btn-sm.btn-outline-primary.float-right(href="/empleado/solicitud/"+solicitud.uuid+"/untake") Liberar solicitud
        hr
    .row
      .col.mx-auto
        <div class="alert alert-info" role="alert">
          <p>Descripción</p>
          <p>#{solicitud.descripcion}</p>
          <hr>
          <p class="mb-0">Ticket: #{solicitud.uuid}</p>
          <p class="mb-0">Tipo: #{solicitud.tipo}</p>
          <p class="mb-0">Estado: #{solicitud.estado}</p>
          <p class="mb-0">Prioridad: #{solicitud.prioridad}</p>
        </div>
        hr
    .row.align-items-start
      .col.mx-auto
        .card
          .card-body.p-4
            p.h4.text-center Transferir
              form(action="/empleado/transferir/"+solicitud.uuid method="post")
                .form-group
                  label.form-label(for='prioridad') Prioridad
                  select.form-control(name='prioridad', id='prioridad' required)
                      //option(default selected disabled required) - seleccione un tipo -
                      each val in ['ALTA' , 'NORMAL' , 'BAJA']
                        option(value=val selected=val == solicitud.prioridad) #{val}
                .form-group
                  label.form-label(for="detalle") Detalle
                  textarea.form-control#detalle(name="detalle" placeholder="Detalle" rows="6" minlength="100" maxlength="1000" required)
                .form-group
                  label(for="AreaId") Área
                  select.form-control#AreaId(name="AreaId")
                      each a in areas
                        option(value=a.id, required, selected=a.id == solicitud.AreaId) #{a.nombre}
                .form-group.text-center
                  input.btn.btn-primary(type="submit" value="Transferir")
      .col.mx-auto
        .card
          .card-body.p-4
            p.h4.text-center Solucionar
              form(action="/empleado/solucionar/"+solicitud.uuid method="post")
                .form-group
                  label.form-label(for='prioridad') Prioridad
                  select.form-control(name='prioridad', id='prioridad' required)
                      //option(default selected disabled required) - seleccione un tipo -
                      each val in ['ALTA' , 'NORMAL' , 'BAJA']
                        option(value=val selected=val == solicitud.prioridad) #{val}
                .form-group
                  label.form-label(for="detalle") Detalle
                  textarea.form-control#detalle(name="detalle" placeholder="Detalle" rows="10" minlength="100" maxlength="1000" required)
                .form-group.text-center
                  input.btn.btn-primary(type="submit" value="Solucionar")