extends ../layout

block content
  .container.p-5
    .row
      .col.mx-auto
        table#table_id
          thead
            tr
              th(width="90px") Fecha
              th(width="100px") Tipo
              th Descripcion
              th(width="100px") Prioridad 
              th(width="100px") Estado
          tbody
            each solicitud in solicitudes
              tr
                td
                  a(href="/cliente/tracking/"+solicitud.uuid) #{moment(solicitud.fechaAlta).format('DD/MM/YYYY HH:mm')}
                td #{solicitud.tipo}
                td #{solicitud.descripcion.slice(0, 90) + "..."}
                td #{solicitud.prioridad}
                td #{solicitud.estado}
block datatable
  script(src="/javascripts/datatable.js")