extends ../layout

block content
  .container.p-5
    .row
      .col.text-center
        h2.display4 Historial de movimientos
        hr
    .row
      .col.mx-auto
        <div class="alert alert-info" role="alert">
          <p>#{solicitud.descripcion}</p>
          <hr>
          <p class="mb-0">Ticket: #{solicitud.uuid}</p>
          <p class="mb-0">Tipo: #{solicitud.tipo}</p>
          <p class="mb-0">Estado: #{solicitud.estado}</p>
          <p class="mb-0">Prioridad: #{solicitud.prioridad}</p>
        </div>
        hr
    .row.mt-2
      .col.mx-auto
        table#table_id
          thead
            tr
              th Fecha
              th Detalle
          tbody
            each h in solicitud.Historials
              tr
                td(width="100px") #{moment(h.fecha).format('DD/MM/YYYY HH:mm')}
                td #{h.detalle}

block datatable
  script(src="/javascripts/datatable.js")